header {
	text-align: center;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list {
	margin-left: 20px;
	margin-right: 50px;
}

.display {
	width: 20%;
}

.display .cat-image {
	max-width: 100%;
}

.hide {
	display: none;
}

.display #admin #fields .buttons {
	display: flex;
	flex-wrap: wrap;
}

.display #admin #fields .buttons p {
	margin-right: 20px;
}